<!-- generate-payroll.html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Generate Payroll</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">Generate Payroll</h1>
      <form th:action="@{/generate-payroll}" method="post">
        <div class="form-group">
          <label for="employeeId">Employee ID</label>
          <input type="number" class="form-control" id="employeeId" name="employeeId" required>
        </div>
        <div class="form-group">
          <label for="bonus">Bonus</label>
          <input type="number" class="form-control" id="bonus" name="bonus" step="0.01" required>
        </div>
        <div class="form-group">
          <label for="deduction">Deduction</label>
          <input type="number" class="form-control" id="deduction" name="deduction" step="0.01" required>
        </div>
        <button type="submit" class="btn btn-primary">Generate Payroll</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
